@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Raleway:wght@300;500;600;800;900&family=Share+Tech+Mono&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}